# ignore everything you see here...
*

# ...except for...
!.gitignore
!bashrc
# yeah this one fucked with my head a little bit
# wanted to add my personal bash profile here for tracking
# could not figure out why
# until I remembered that everything else in /etc everything is being ignored
!macbook-bash/.bash_profile

# ...even if they're in subdirectories
!*/

# should we need a file in a lower directory:
# !*/path/to/file.txt
# !*/path/to/some/other/file.txt